<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBceaZ8RqW-n6QZjsQ3X16yX5gHTExdmH0</string>
	<key>GCM_SENDER_ID</key>
	<string>875517872552</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>se.pxiolity.mynotes</string>
	<key>PROJECT_ID</key>
	<string>mynotes-thoainv01</string>
	<key>STORAGE_BUCKET</key>
	<string>mynotes-thoainv01.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:875517872552:ios:088a5487caab041778759d</string>
</dict>
</plist>